Notes for rank advancement/requirements page

Within each lesson I need to make the distinction between levels. In the video that is created as well as in the text description. So for Flashing Swords I need to make the distinction between the ending points for Junior students and Youth and Adult students. This way the functionality of the page will remain pretty much the same, I only need to tailor the script for each lesson and it will give students a preview of what is to come.